modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]

[deployment]
run = ["sh", "-c", "npx expo start --web --port 5000"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
